{
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgb(10, 10, 70), rgb(36, 43, 194),#205bb7);
    color: white;
}

.cont {
    width: 97%;
    max-width: 1900px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;

    grid-template-rows: repeat(6, auto);

}
.cuadro {
    background-color: white;
    color: black;
    grid-template-columns: repeat(2, 1fr);

                
}
.titulo{
    text-align:center;
}


.button {
    padding: 0;
}

.button li {
    display: inline;
    
}
.button li a {
    font-family: 'Times New Roman';
    font-size: 20px;
    text-decoration: none;
    float: left;
    padding: 10px;
    
    color: #fff;
}


