@model Ricredit.Models.QSomos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QSomos</title>
    <link href="~/css/QSomos.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="cont">
        <header class="titulo">
            <h1>Quienes Somos</h1>
        </header>
        <hr />
        <div class="menu">
            <ul class="button">
                <li><a href=”#”>Inicio</a></li>
                <li><a href=”#”>Inicio de sesión</a></li>
                <li><a href=”#”>Quienes somos</a></li>
                <li><a href=”#”>Préstamos</a></li>
                <li><a href=”#”>Solicitud de Préstamos</a></li>
                <li><a href=”#”>Sucursales</a></li>
            </ul>
        </div>
        <div class="cuadro">
            <div class="txt">
                <p>Somos una fundación guatemalteca especializada en desarrollo económico y social; no lucrativa, sin fines políticos ni religiosos, que para alcanzar sus objetivos de desarrollo sostenido, combina su amplia experiencia en microfinanzas y servicios de desarrollo empresarial con un enfoque social, basado en la capacitación constante y la promoción del desarrollo individual y comunitario.</p>

            </div>
            <div class="vision">
                <div class="imgv">
                    <img src="~/images/QSomos/unnamed.png" alt="MDN">

                </div>
                <div class="txtv">
                    <p>Proveer ágil y oportunamente servicios financieros y no financieros, acompañados de asesoría y capacitación, a la microempresa, pequeña empresa y comunidades rurales, para lograr su desarrollo sostenido en forma masiva, acelerando el progreso de Guatemala.</p>
                </div>

            </div>
            <div class="mision">
                <div class="imgm">
                    <img src="~/images/QSomos/mision.png" alt="MDN">

                </div>
                <div class="txtm">
                    <p>Promover desarrollo a través de servicios financieros y no financieros con acompañamiento, en forma eficiente y eficaz a todas las comunidades de Guatemala.</p>
                </div>

            </div>


        </div>
        <div class="pbx">
            <h2>PBX +502 2200-2200</h2>
        </div>
        <div class="wha">

            <h2> +502 5190-2020</h2>
        </div>






    </div>
    

</body>
</html>
