@model RiCredit.Models.Principal

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Principal</title>
    <link href="~/css/Principal.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="cont">
        <header class="titulo">
            <h1>Bienvenidos a Rapi-Credit</h1>
        </header>
        <hr />
        <div class="cuadro">
            <div class="botones">
                <button type="submit" onclick="location='https://localhost:44348/QSomos/QSomos'">Quienes Somos</button>
                <button type="submit" onclick="location='https://localhost:44348/Login/Login'">Inicio de Sesión</button>
                <button type="submit" onclick="location='https://localhost:44348/QSomos/QSomos'">Préstamos</button>
                <button type="submit" onclick="location='https://localhost:44348/QSomos/QSomos'">Solicitud de Crédito</button>
                <button type="submit" onclick="location='https://localhost:44348/QSomos/QSomos'">Sucursales</button>
               
            </div>
            <div class="img1">

                <img src="~/images/Principal/graduandos.jpg" alt="MDN">
            </div>
            <div class="img2">
              
            </div>

        </div>
        <div class="pbx">
            <h2>PBX +502 2200-2200</h2>
        </div>
        <div class="wha">

            <h2> +502 5190-2020</h2>
        </div>




    </div>

    

  

    



</body>
</html>
