
@{
    ViewData["Title"] = "EjVentas";
}


<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Principal.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/css/QSomos.css" rel="stylesheet" type="text/css" />
</head>
<body>
   
    <div class="cont">
        <header class="titulo">
           
            <h1>
                <img src="~/images/rapicredit1.jpg" class="img-thumbnail" width="125" height="125">
                &nbsp; &nbsp; &nbsp; Ejecutivo de Ventas
            </h1>
        </header>
       
              <div style="position:absolute; left:375px; top:290px;" class="menu">


                  
                      <ul  class="button">
                          <li><a href=”#”>Inicio</a></li>
                          <li><a href=”#”>Inicio de sesión</a></li>
                          <li><a href=”#”>Quienes somos</a></li>
                          <li><a href=”#”>Préstamos</a></li>
                          <li><a href=”#”>Solicitud de Préstamos</a></li>
                          <li><a href=”#”>Sucursales</a></li>
                      </ul>
                 
              </div>
</div>
    <div class="cuadro">
        <div class="txt">
            <p>
        </div>
        <div class="card-group">
            <div class="card">
                <center><img src="~/images/ampliar creditoba.png" class="img-thumbnail" width="150" height="150"></center>
                <div class="card-body">
                    <center><button type="submit">Ampliar Credito</button></center>

                </div>
            </div>
            <div class="card">
                <center><img src="~/images/ampliar creditoa.jpg" class="img-thumbnail" width="150" height="150"></center>
                <div class="card-body">
                    <center><button type="submit">Estado de Préstamo</button></center>
                </div>
            </div>
            <div class="card">
                <center><img src="~/images/usuarios.jpg" class="img-thumbnail" width="150" height="150"></center>
                <div class="card-body">
                    <center><button type="submit">Editar Perfil</button></center>
                </div>

            </div>

        </div>
        <div class="card-group">
            <div class="card">
                <center><img src="~/images/solicitud.png" class="img-thumbnail" width="150" height="150"></center>
                <div class="card-body">
                    <center><button type="submit">Ampliar Nueva Solicitud</button></center>

                </div>
            </div>
            <div class="card">
                <center><img src="~/images/precalificaciona.png" class="img-thumbnail" width="150" height="150"></center>
                <div class="card-body">
                    <center><button type="submit">Precalificación</button></center>
                </div>
            </div>
            <div class="card">
                <center><img src="~/images/clientesa.png" class="img-thumbnail" width="150" height="150"></center>
                <div class="card-body">
                    <center><button type="submit">Clientes</button></center>
                </div>

            </div>

        </div>
        <div class="card-group">
            <div class="card">
                <center><img src="~/images/segimiento.jpg" class="img-thumbnail" width="150" height="150"></center>
                <div class="card-body">
                    <center><button type="submit">Seguimiento a Credito</button></center>
                </div>

            </div>

        </div>
        <br />
        <button style="float: right;" type="submit">Regresar</button>
        <br />
        <br />
        <br />



    </div>
    <div class="pbx">
        <h2 style="float: left;"> PBX +502 2200-2200   </h2>
        <h2 style="float: right;"> +502 5190-2020</h2>
    </div>



</body>
</html>



