
@{
    ViewData["Title"] = "Cliente";
}

<h2>Cliente</h2>
<!doctype html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" />
</head>
<body>

    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="~/images/ampliar creditob.png" width="120" height="120" alt="Card image cap">
            <div class="card-body">
                <button type="button" class="btn btn-primary">Ampliar Credito</button>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/images/ampliar creditoa.png" width="120" height="120" alt="Card image cap">
            <div class="card-body">
                <button type="button" class="btn btn-primary">Estado de Préstamo</button>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/images/editar perfila.png" width="120" height="120" alt="Card image cap">
            <div class="card-body">
                <button type="button" class="btn btn-primary">Editar Perfil</button>
            </div>
        </div>
    </div>
    </br>
    <button type="button" class="btn btn-primary">Regresar</button>
</body>
</html>
