
@{
    ViewData["Title"] = "Cliente";
}


<!DOCTYPE html>


<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width" />
    <title>QSomos</title>
    <link href="~/css/QSomos.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="cont">
        <header class="titulo">
            <h1>Cliente</h1>
        </header>
        <hr />
        <div class="menu">
            <ul class="button">
                <li><a href=”#”>Inicio</a></li>
                <li><a href=”#”>Inicio de sesión</a></li>
                <li><a href=”#”>Quienes somos</a></li>
                <li><a href=”#”>Préstamos</a></li>
                <li><a href=”#”>Solicitud de Préstamos</a></li>
                <li><a href=”#”>Sucursales</a></li>
            </ul>
        </div>
        <div class="cuadro">
            <div class="txt">
                <p>
            </div>
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="~/images/ampliar creditob.jpg" width="75" height="250" alt="Card image cap">
                    <div class="card-body">
                        <button type="button" class="btn btn-secondary btn-lg">Ampliar Credito</button>
                        
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="~/images/ampliar creditoa.jpg" width="75" height="250" alt="Card image cap">
                    <div class="card-body">
                        <button type="button" class="btn btn-secondary btn-lg">Estado de Préstamo</button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="~/images/usuarios.jpg" width="75" height="250" alt="Card image cap">
                    <div class="card-body">
                        <button type="button" class="btn btn-secondary btn-lg">Editar Perfil</button>
                    </div>
                </div>
            </div>
            </br>
            <button type="button" class="btn btn-secondary btn-lg">Regresar</button>

        </div>
        <div class="pbx">
            <h2>PBX +502 2200-2200</h2>
        </div>
        <div class="wha">

            <h2> +502 5190-2020</h2>
        </div>


</body>
</html>

