.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 0px solid #273698;
    border-radius: 6px;
    background: #0924ba;
    background: -webkit-gradient(linear, left top, left bottom, from(#0924ba), to(#090e2e));
    background: -moz-linear-gradient(top, #0924ba, #090e2e);
    background: linear-gradient(to bottom, #0924ba, #090e2e);
    -webkit-box-shadow: #000000 -3px -3px 25px 10px;
    -moz-box-shadow: #000000 -3px -3px 25px 10px;
    box-shadow: #000000 -3px -3px 25px 10px;
    text-shadow: #17205a 1px 1px 1px;
    font: normal normal normal 20px georgia;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 0px solid #2e40b3;
    background: #0b2bdf;
    background: -webkit-gradient(linear, left top, left bottom, from(#0b2bdf), to(#0b1137));
    background: -moz-linear-gradient(top, #0b2bdf, #0b1137);
    background: linear-gradient(to bottom, #0b2bdf, #0b1137);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #051670;
    background: -webkit-gradient(linear, left top, left bottom, from(#051670), to(#090e2e));
    background: -moz-linear-gradient(top, #051670, #090e2e);
    background: linear-gradient(to bottom, #051670, #090e2e);
}