<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
	<link rel="stylesheet" href="TipoPres.css">
	<title>Inicio de Sesión</title>
</head>

<style>
    body {
        background-image: linear-gradient(rgb(10, 10, 70), rgb(36, 43, 194),#205bb7);
    }
    h1 { color: white; }
    h2 {color: whitesmoke;}
    li {color: white;}
    a {color: white;}
</style>


<body >
    
    
	<div class="contenedor">
		<header class="header">
			<center><h1>Tipo de Préstamos</h1> </center>
			<center><h2 class="navb">Encuentra aca tus tipos de préstamos a tu alcance</h2></center>
        </header>
        
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Inicio</button>
            <button type="button" class="btn btn-secondary">Inicio de sesión</button>
            <button type="button" class="btn btn-secondary">Quienes somos</button>
            <button type="button" class="btn btn-secondary">Préstamos</button>
            <button type="button" class="btn btn-secondary">Solicitud de Préstamos</button>
            <button type="button" class="btn btn-secondary">Sucursales</button>
        </div>

        <img src="~images/ImagenTipoPrestamo/EmprenderNegocio.jpg"   width:auto; height:auto;>
        
	
	</div>
</body>
</html>