@model RiCredit.Models.Principal



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Principal</title>
</head>

<body>

    <h1>PRINCIPAL</h1>
    
    <hr />
  

</body>
</html>
