
@{
    ViewData["Title"] = "NSolicitud";
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Principal.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width" />
   
    <link href="~/css/QSomos.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="cont">
        <header class="titulo">
            <h1>Nueva Solicitud</h1>
        </header>
        <hr />
        <div class="menu">
            <ul class="button">
                <li><a href=”#”>Inicio</a></li>
                <li><a href=”#”>Inicio de sesión</a></li>
                <li><a href=”#”>Quienes somos</a></li>
                <li><a href=”#”>Préstamos</a></li>
                <li><a href=”#”>Solicitud de Préstamos</a></li>
                <li><a href=”#”>Sucursales</a></li>
            </ul>
        </div>
    </div>
    <div class="cuadro">
        <div class="txt">
            <p>
        </div>
        <div class="card-group">
            <div class="card">
                <center><img src="~/images/precalificaciona.png" class="img-thumbnail" width="150" height="150"></center>
                <div class="card-body">
                    <center><button type="submit">Precalificacion</button></center>

                </div>
            </div>
            <div class="card">
                <center><img src="~/images/clientesa.png" class="img-thumbnail" width="150" height="150"></center>
                <div class="card-body">
                    <center><button type="submit">Clientes</button></center>
                </div>
            </div>
            <div class="card">
                <center><img src="~/images/modificarb.png" class="img-thumbnail" width="150" height="150"></center>
                <div class="card-body">
                    <center><button type="submit">Modificar</button></center>
                </div>

            </div>


        </div>
        <br />
        <button style="float: right;" type="submit">Regresar</button>
        <br />
        <br />
        <br />



    </div>
    <div class="pbx">
        <h2 style="float: left;"> PBX +502 2200-2200   </h2>
        <h2 style="float: right;"> +502 5190-2020</h2>
    </div>
       


</body>
</html>


