* {
	margin: 0;
	padding: 0;
}

body {
	background:  #003366;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 95%;
	/*max-width: 99%;*/
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);

	/*grid-template-areas: "header header header"
						 "contenido contenido sidebar"
						 "widget-1 widget-2 sidebar"
						 "footer footer footer";*/

	grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 /*"widget-1 widget-2 sidebar"*/
						 "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

.contenedor .header {
	background:  #003366;
	color: #fff;
	grid-area: header;
}

.contenedor .header .navb {
	background:  #003366;
	color: #fff;
	text-align: right;
}

.contenedor .contenido {
	grid-area: contenido;
}

.contenedor .contenido ul li {
	list-style: none;
}

.contenedor .contenido .buttonLogin{
	float: right;
}

.contenedor .footer {
	background: #003366;
	color: #fff;
	text-align: right;
	grid-area: footer;
}

.contenedor .footer .pbx-number{
	float: left;
}

.contenedor .footer .pbx-whatsap{
	float: right;
}

@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "sidebar sidebar sidebar"
						 /*"widget-1 widget-1 widget-2"*/
						 "footer footer footer";
	}
}