
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <h1>Bienvenidos a Rapi-Credit</h1>
    <div class="container">
        <div class="card card-container">
          
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
               
                <input type="text" id="inputEmail" class="form-control" placeholder="Ingrese su Usuario" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="" required>
                
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Inicio de Sesion</button>
            </form>
            <a href="#" class="forgot-password">
                Olvido su contraseña?
            </a>
        </div>
    </div>
</body>
</html>
